
<div style="margin-top:30px;width:100%;">
    <table id="jqGrid1"></table>
    <div id="jqGridPager1"></div>
</div>

<script type="text/javascript">
    $(document).ready(function () {
        $("#jqGrid1").jqGrid({
            regional: 'ru',
            url: '@Url.Action("GetGsmMData","Home")',
            mtype: "GET",
            datatype: "json",
            loadonce: true,
            //datatype: "local",
            //data: mydata,
            //prmNames: { _search: "_search", nd: "nd", rows: "rows", page: "page", sidx: "sidx", sord: "sord", searchField: "searchField", searchString: "searchString", searchOper: "searchOper", filters: "filters", total: "total" },
            colModel: [
                { label: 'Imei', name: 'imei' },
                { label: 'Серийный №', name: 'partNumber' },
                { label: 'Тип устройства', name: 'deviceType' }
            ],
            viewrecords: true,
            autowidth: true,
            shrinkToFit: true,
            rownumbers: true, // show row numbers
            height: 500,
            rowNum: 100,
            rowList: [50, 100, 500, 1000],
            altRows: true,
            pager: "#jqGridPager1",
            /*
            jsonReader:
            {
                root: "rows",
                page: "page",
                total: "total",
                records: "records",
                repeatitems: false,
                Id: "0"
            }*/
        });

        // add navigation bar with some built in actions for the grid
        $('#jqGrid1').navGrid('#jqGridPager1',
            {
                edit: false,
                add: false,
                del: false,
                search: true,
                refresh: true,
                searchtext: "Найти",
                refreshtext: "Обновить",
                view: true,
                position: "left",
                //cloneToTop: false,
                closeAfterSearch: true
            });

        // add first custom button
        /*$('#jqGrid1').navButtonAdd('#jqGridPager1',
            {
                buttonicon: "ui-icon-circle-arrow-n",
                title: "Export to CSV",
                caption: "CSV",
                position: "last",
                onClickButton: csvButtonClicked1
            });
            */
        /// add second custom button
        $('#jqGrid1').navButtonAdd('#jqGridPager1',
            {
                buttonicon: "ui-icon-save",
                title: "Export to Excel",
                caption: "Excel",
                position: "last",
                onClickButton: excelButtonClicked1
            });
    });

    function csvButtonClicked1(e) {
        var options = {
            separator: ",",
            separatorReplace: " ",
            quote: '"',
            escquote: '"',
            newLine: "\r\n",
            replaceNewLine: " ",
            includeCaption: true,
            includeLabels: true,
            includeGroupHeader: true,
            includeFooter: true,
            includeHeader: true,
            fileName: "GSM-M_Export.csv",
            mimetype: "text/csv;charset=utf-8",
            onBeforeExport: null,
            returnAsString: false,
            loadIndicator: true,
            treeindent: ' '
        };
        $("#jqGrid1").jqGrid("exportToCsv", options);
    }
    function excelButtonClicked1(e) {
        var options = {
            includeLabels: true,
            includeGroupHeader: true,
            includeFooter: true,
            includeHeader: true,
            fileName: "GSM-M_Export.xlsx",
            mimetype: "application/vnd.openxmlformats-officedocument.spreadsheetml.sheet",
            maxlength: 40,
            onBeforeExport: null,
            replaceStr: null,
            customizeData: null,
            loadIndicator: true,
            visibleTreeNodes: false,
            treeindent: ' '
        };

        $("#jqGrid1").jqGrid('exportToExcel', options);
    }



</script>